* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header ul {
    display: flex;
    justify-content: end;
    align-items: center;
}

.header ul li {
    list-style: none;
    margin: 0px 0px 0px 30px;
}

.header ul li img {
    width: 36px;
}

.content .hinhanh {
    text-align: center;
}

.content .hinhanh img {
    width: 350px;
}

.content .timkiem form {
    text-align: center
}

.content .timkiem form input {
    border: 1px solid rgb(153 153 153);
    margin: 0px 0px 20px 0px;
    width: 550px;
    border-radius: 35px;
    padding: 10px 0px;
    transition: all 0.3s;
}

.content .timkiem form input:hover {
    box-shadow: 0px 2px 8px rgb(153 153 153);
}

.timkiem form button {
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    margin: 0px 5px;
    transition: all 0.3s;
}

.timkiem form button:hover {
    box-shadow: 0px 2px 8px rgb(153 153 153);
    border: 1px solid rgb(153 153 153);
}

.tieng {
    text-align: center;
    margin-top: 30px;
}

.tieng p a {
    margin: 0px 5px;
}