.p2 {
    background: rgb(7, 86, 255);
}


/* yvayuvsdyuvasyvuyudavsyvyasvyvaysv */

.background-hinhanh {
    background-image: url('img/banner-quang-cao.jpg');
    height: 500px;
    background-size: cover;
}