@import url('https://fonts.googleapis.com/css2?family=Festive&family=Quicksand:wght@300;400;500;600;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Festive', cursive;
    font-family: 'Quicksand', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.header {
    background: #424245;
    padding: 13px 0px;
}

.header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header ul li {
    margin: 0px 20px;
    font-size: 14px;
}

.header ul li a {
    color: rgba(255, 255, 255, 0.92);
}

.browser {
    padding: 10px 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.browser h4 {
    font-size: 25px;
}

.browser a {
    font-size: 13px;
    color: #0000ff;
}

.content .banner .img {
    position: relative;
}

.content .banner .img img {
    width: 100%;
}

.content .banner .content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20%;
    left: 50%;
}

.content .banner .content h4 {
    font-size: 24px;
    line-height: 1.20849;
    font-weight: 500;
    letter-spacing: .015em;
    color: #bf4800;
    margin-bottom: 17px;
}

.content .banner .content h2 {
    font-size: 48px;
    line-height: 1.04167;
    font-weight: 500;
    letter-spacing: .006em;
    padding-bottom: 16px;
}

.content .banner .content p {
    font-size: 22px;
    line-height: 1.45455;
    font-weight: 300;
    letter-spacing: .016em;
    margin-bottom: 30px;
}

.content .banner .content a {
    font-size: 22px;
    line-height: 1.45455;
    font-weight: 300;
    letter-spacing: .016em;
    color: #0000ff;
}

.content .products {
    padding: 20px 15%;
    display: flex;
    justify-content: space-between;
}

.content .products .product {
    text-align: center;
    background: rgba(233, 233, 233, 0.92);
    padding: 60px 40px 100px;
    transition: all 0.3s;
}

.content .products .product img {
    transition: all 0.3s;
}

.content .products .product:hover {
    box-shadow: 0px 2px 10px gray;
}

.content .products .product:hover img {
    transform: scale(1.1);
}

.content .products .product p {
    color: #e85d00;
    font-size: 12px;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: 0;
    padding: 5px 09px;
}

.content .products .product h3 {
    font-size: 17px;
    line-height: 1.47059;
    font-weight: 400;
    letter-spacing: -.021em;
    white-space: normal;
    text-overflow: clip;
}

.content .video-background {
    position: relative;
}

.content .video-background h1 {
    position: absolute;
    top: 30%;
    left: 50%;
    font-size: 100px;
    transform: translate(-50%, -50%);
    color: #fff;
    letter-spacing: 10px;
}


/* ========================================================= */

.footer {
    background: #f2f2f2;
    padding: 20px 15%;
    font-size: 13px;
}

.footer .apple-card p {
    margin-bottom: 10px;
}

.footer .apple-map {
    display: flex;
    justify-content: space-between;
}

.footer .apple-map ul li {
    margin-bottom: 10px;
}

.footer .apple-map ul li:first-child {
    font-weight: 700;
    margin-top: 30px;
}

.footer .apple-map ul li a {
    color: #424245;
}

.footer .more {
    margin: 30px 0px 10px;
}

.footer .more a {
    color: rgb(0, 140, 255);
}

.footer .copy-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
}

.footer .copy-right .privary ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .copy-right .privary ul li {
    padding: 0px 10px;
    border-left: 1px solid #424245;
}

.footer .copy-right .privary ul li:first-child {
    border: none;
}

.footer .copy-right .privary ul li a {
    color: #424245
}